---
interface Props {
  paths: { [key: string]: string }[];
  current?: string;
}

const { paths, current } = Astro.props;
---

<ul class="flex gap-2 text-sm font-light">
  {
    paths.map((path) => (
      <li>
        <a
          href={path.link}
          class="opacity-40 hover:opacity-100 transition-opacity duration-300"
        >
          {path.name}
        </a>
        <span class="opacity-40">&rarr;</span>
      </li>
    ))
  }
  <li class="opacity-40 font-semibold">{current}</li>
</ul>
