---
const { lang } = Astro.params;

const isItalianActive = lang === 'it';
const isEnglishActive = lang === 'en';
---

<header class="min-w-full bg-pa-dark-blue text-slate-50">
  <nav
    class="w-[min(90%,_1024px)] h-[5rem] mx-auto items-center flex justify-between"
  >
    <div>
      <a href={'/' + lang} class="flex gap-2">
        <img src="/favicon.svg" alt="paclimb logo" height={42} width={42} />
        <h2 class="m-0">PaClimb</h2>
      </a>
      <p class="opacity-50">Change Logs</p>
    </div>
    <ul id="select-language" class="flex gap-2">
      <a href="/it/beta">
        <li
          title="italiano"
          class="hover:opacity-100 transition:opacity duration-300"
          class:list={[
            { 'opacity-100': isItalianActive, 'opacity-50': !isItalianActive },
          ]}
        >
          IT
        </li>
      </a>
      <span class="h-6 w-[1px] bg-slate-50/50"></span>
      <a href="/en/beta">
        <li
          title="english"
          class="hover:opacity-100 transition:opacity duration-300"
          class:list={[
            { 'opacity-100': isEnglishActive, 'opacity-50': !isEnglishActive },
          ]}
        >
          EN
        </li>
      </a>
    </ul>
  </nav>
</header>
